<div class="contentForm">
<ion-header>
  <ion-toolbar>
    <ion-title>login Music App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="containerLogin">
    <ion-icon name="musical-notes-outline" class="iconMusic"></ion-icon>
    
    <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
  
      <!-- <ion-item> -->
        <div style="background: transparent; border-bottom: 1px solid;">
          <ion-input label="Email" labelPlacement="floating" placeholder="name@example.com" formControlName="email"></ion-input>
        </div>
        
      <!-- </ion-item> -->
  
      <div class="validation-erros">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div *ngIf="(
            loginForm.get('email')?.hasError(validation.type) && 
            loginForm.get('email')?.dirty) 
          ">
            {{validation.message}}
          </div>
          
        </ng-container>
      </div>
  
      <!-- <ion-item> -->
        <div style="background: transparent; border-bottom: 1px solid;">
        <ion-input label="Password" labelPlacement="floating" placeholder="*******" formControlName="password" type="password"></ion-input>
      </div>
      <ng-container *ngFor="let validation of validation_messages.password">
        <div *ngIf="(
          loginForm.get('password')?.hasError(validation.type) && 
          loginForm.get('password')?.dirty) 
        ">
          {{validation.message}}
        </div>
      </ng-container>
      <!-- </ion-item> -->
      <ion-button 
        expand="full"
        shape="round"
        color="secondary"
        [disabled]="!loginForm.valid"
        type="submit"
        style="margin-top: 15px;"
        >
        Ingresar
      </ion-button>
      <ion-button
        expand="full"
        shape="round"
        color="success"
        (click)="goToRegister()"
      >
        Registrate
      </ion-button>
    </form>
  </div>

</ion-content>
</div>