<ion-header>

</ion-header>

<ion-content>
  <ion-icon name="close" class="close-icon" (click)='finish()'></ion-icon>
  <swiper-container [initialSlide]="0" class="slideStyle">
    <swiper-slide *ngFor="let item of slides; let i = index">
        <h1 class="slide-titles" [style.color]="colors[i]">{{item.title}}</h1>
        <img [src]="item.img">
        <p> {{item.p}} </p>
        <ion-icon class="slide-icon" [style.color]="colors[i]" [name]="item.icon"></ion-icon>
    </swiper-slide>
  </swiper-container>
</ion-content>
