<ion-header>

</ion-header>

<ion-content>
  <swiper-container [initialSlide]="1" [slidesPerView]="2">
    <swiper-slide>
        <h1>Titulo Principal</h1>
        <img src="assets/img/jsonImg.jpg">
        <ion-icon class="slide-icon" name="battery-charging-outline"></ion-icon>
        <p> Hola soy la explicacion del slide, Hola soy la explicacion del slide </p>
    </swiper-slide>

    <swiper-slide>
      <h1>Titulo Secundario</h1>
      <ion-icon name="battery-charging-outline"></ion-icon>
        <p> Hola soy la explicacion del slide, Hola soy la explicacion del slide </p>
  </swiper-slide>
  </swiper-container>
</ion-content>
